.header-list {
  background-color: white;
  font-size: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 1px;
  padding: 2rem;
  font-family: ui-sans-serif;
}

li {
  list-style-type: none;
  flex-grow: 1;
}
.header-logo {
  width: 3vw;
  height: auto;
  max-height: 7vh;
}

.nav-website-name {
  display: flex;
  padding-right: 20px;
  align-items: center;
  flex: 1;
}
.nav-center-items {
  display: flex;
  justify-content: center;
  flex: 3;
  gap: 20px;
}
.header-button {
  padding: 12px;
  color: black;
  text-decoration: none;
}
.header-button:hover {
  background-color: rgb(241, 245, 249);
  border-radius: 50px;
}
.nav-right-items {
  flex: 1;
  text-align: right;
  padding-right: 30px;
}

.login-border {
  border: 1px solid;
  border-radius: 50px;
}

@media (max-width: 768px) {
  .header-list {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .header-list {
    font-size: 0.7rem;
  }

  .nav-right-items {
    flex: 1;
    text-align: right;
    padding-right: 15px;
  }
}
