.navbar {
  width: 80vw;
  height: 8vh;
  background-color: whitesmoke;
  border-radius: 20px;
  margin-bottom: 2%;
}
.header-list {
  height: 8vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 1px;
}

li {
  list-style-type: none;
  flex-grow: 1;
}
.header-logo {
  width: 3vw;
  height: auto;
  max-height: 7vh;
}

.header-website-name {
  display: flex;
  padding-right: 20px;
  font-size: 1.5vw;
  align-items: center;
}
.header-button {
  font-size: 2vw;
  color: black;
  text-decoration: none;
}
.header-button:hover {
  text-decoration: underline;
}
